form{
    background-color: black;
}
.R{
    font-size: 25px;
        background-color: wheat;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
}
.Y{
    font-size: 30px;
    background-color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgray;
 }